<header class="page-topbar" id="header">
  <div class="navbar navbar-fixed">
    <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-light-blue-cyan">
      <div class="nav-wrapper">
        <ul class="navbar-list right">
          <li>
            <a class="waves-effect waves-block waves-light profile-button dropdown-trigger" href="javascript:void(0);"
              data-target="profile-dropdown"><span class="avatar-status avatar-online"><img
                  src="app-assets/images/avatar/profile.jpeg" alt="avatar" /><i></i></span></a>
          </li>
        </ul>
        <ul class="dropdown-content" id="profile-dropdown">
          <li class="divider"></li>
          <li>
            <button id="logout-button" class="grey-text text-darken-1" (click)="logout()"><i
                class=" material-icons">keyboard_tab</i>
              Logout</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
<footer
  class="page-footer footer footer-static footer-dark gradient-45deg-light-blue-cyan gradient-shadow navbar-border navbar-shadow">
  <div class="footer-copyright">
    <div class="container">
      <span>&copy; 2020
        <a href="/" target="_blank">CHATEABLE</a>
        All rights reserved.</span><span class="right hide-on-small-only">Design and Developed by <a
          href="/">CHATEABLE</a></span>
    </div>
  </div>
</footer>