/* You can add global styles to this file, and also import other style files */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
div.container {
  padding: 0;
}
.row .valign-wrapper {
  margin-bottom: 0;
}
#login-page {
  height: fit-content !important;
  min-height: 80vh !important;
}

form .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
