/* You can add global styles to this file, and also import other style files */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
div.container {
  padding: 0;
}
.row .valign-wrapper {
  margin-bottom: 0;
}
